<mat-card>
  <mat-card-title align="center">Generate QR-codes from text</mat-card-title>
  <mat-card-content>
    <form id="generator-form">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter text for QR-code generation!</mat-label>
          <input matInput [(ngModel)]="QrCode" name="qrCode">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-subtitle align="center">Generated QR-code from text: {{ qrCode }}</mat-card-subtitle>
  <mat-card-content align="center">
      <img src="{{ apiUrl + qrCode }}" />
  </mat-card-content>
</mat-card>
